@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common styles */
.secondary-bg{
    background-color: rgb(190, 255, 196);
}
.text-primary{
    color: rgb(110, 240, 110);
}
.dark-2{
    color:rgb(142, 142, 142);
}
.btn-primary{
    background-color: rgb(110, 240, 110);
    font-weight: 700;
    color: aliceblue;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.section-description{
    font-size: 18px;
    color: rgb(143, 143, 143);
}
.text-center{
    text-align: center;
}
/* Header style */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-head{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}

/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
/* Skill */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px aliceblue;
}